<section>
  <article class="scrolling-effect-append">
    <div class="header-box">
      <div style="padding-right: 25px; text-align: left;">
      <h1 v-scrollanimation>México</h1>
      <div v-scrollanimation>Morelia, Michoacan</div>
      <p v-scrollanimation>Morelia es la capital del estado de Michoacán, zona central de México. Las calles estrechas del centro de la ciudad colonial están rodeadas de edificios bien conservados del siglo XVII y XVIII</p>
    </div>
  </div>
  </article>
  <description></description>
</section>