
<section class="description">
  <p v-scrollanimation>Morelia es la capital del estado de Michoacán, en la zona central de México. Las calles estrechas del centro de la ciudad colonial están rodeadas de edificios bien conservados del siglo XVII y XVIII, construidos con la piedra rosa característica de la región. Uno de esos edificios es la imponente Catedral de Morelia, de estilo barroco. Sus altísimas y elegantes torres gemelas dominan la plaza central de la ciudad, la Plaza de Armas.</p>
  <p v-scrollanimation>Uno de esos edificios es la imponente Catedral de Morelia, de estilo barroco. Sus altísimas y elegantes torres gemelas dominan la plaza central de la ciudad, la Plaza de Armas.</p>
</section>
